-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- DropForeignKey
ALTER TABLE "carts" DROP CONSTRAINT "carts_userId_fkey";

-- DropForeignKey
ALTER TABLE "cart_items" DROP CONSTRAINT "cart_items_cartId_fkey";

-- DropForeignKey
ALTER TABLE "cart_items" DROP CONSTRAINT "cart_items_productId_fkey";

-- AlterTable
ALTER TABLE "public"."products" DROP COLUMN "maxCartQty";

-- DropTable
DROP TABLE "carts";

-- DropTable
DROP TABLE "cart_items";

-- DropEnum
DROP TYPE "CartStatus";

